---
layout: default
---
<div>
  <!-- This loops through the paginated posts -->
  <div class="row">
    {% for post in paginator.posts %}
      <div class="col s12 l6">
        <div class="card medium">
          <div class="card-image blue-grey lighten-5">
            <img src="/assets/img/posts/{{ post.hero-image }}">
          </div>
          <div class="card-content">
            <div class="card-header">
              <span class="card-title black-text">{{ post.title }}</span>
              <em class="left date">{{ post.date | date: "%b %-d, %Y" }}</em>
            </div>
            <p>{{ post.summary }}</p>
          </div>
          <div class="card-action">
            <a href="{{ post.url | prepend: site.baseurl }}" class="waves-effect waves-light btn">READ MORE ></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    <!-- Previous page -->
    {% if paginator.previous_page %}
    <li class="waves-effect">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_right</i></a>
    </li>
    {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}

    <!-- All page numbers-->
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="active blue-grey"><a href="#!">{{ page }}</a></li>
      {% elsif page == 1 %}
        <li class="waves-effect"><a href="/{{ site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
        <li class="waves-effect"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    <!-- Next page -->
    {% if paginator.next_page %}
      <li class="waves-effect">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_left</i></a>
      </li>
    {% else %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
  </div>
  {% endif %}
  <!-- END pagination -->
</div>
