<nav id="navbar" class="two wide column">
  <div class="ui sticky secondary vertical pointing menu">
    <a class="item" href="http://nirgn.com">About</a>

    {% for my_page in site.pages %}
      {% if my_page.title %}
        {% if my_page.url == page.url %}
          <a class="item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% else  %}
          <a class="item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endif %}

    {% endfor %}
  </div>
</nav>
