<header class="site-header">

  <nav id="dl-menu" class="dl-menuwrapper">
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>

</header>

<nav>
  <div class="ui secondary vertical pointing menu">
    {% for my_page in site.pages %}
      {% if my_page.title %}
        {% if my_page.url == page.url %}
          <a class="item active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% else  %}
          <a class="item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endif %}

    {% endfor %}
  </div>
</nav>
