body {
  background-color: #F0F0F0;
  color: #424242;
  font-family: 'Arimo', sans-serif;
}

.container {
  direction: rtl;

  a {
    color: #2196F3;
    text-decoration: none;
  }

  .post-content {
    @include center-base-elments;

    .post-header {
      h3 {
        display: inline-block;
      }
      em {
        float: left;
        margin: 1.17rem;
      }
    }
  }
}

.pagination {
  @include center-base-elments;
  text-align: center;

  li {
    display: inline-block;
    padding: 0.5rem;

    &.disabled {
      a {
        color: #9E9E9E;
        cursor: not-allowed;
      }
    }

    &.active, &:hover {
      @include selected;
    }
  }
}
