body {
  background-color: #F0F0F0;
  color: #424242;
  font-family: 'Arimo', sans-serif;
}

#content-list {
  direction: rtl;

  a {
    color: #2196F3;
    text-decoration: none;
  }

  .post-content {
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;

    .post-header {
      h3 {
        display: inline-block;
      }
      em {
        float: left;
        margin: 1.17rem;
      }
    }
  }
}
