.post-content {
  direction: rtl;

  pre, code {
    direction: ltr;
  }

  ol, ul {
    margin-right: 40px;
  }

  ul {
    list-style-type: disc;

    li {
      list-style-type: disc;
    }
  }

  blockquote {
    border-left: initial;
    border-right: 4px solid #e8e8e8;
    padding-left: 0;
    padding-right: 15px;
  }

  img {
    max-width: 100%;
  }

  table {
    margin: 1% auto;
    border-spacing: 0;
    border-collapse: collapse;

    tr:nth-child(even) {
        background-color: #ffffff;
    }

    tr:nth-child(odd) {
        background-color: #f8f8f8;
    }

    td, th {
      border: 1px solid #ddd;
    }
  }

  .highlight {
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
}
