---
import Layout from "../../layouts/Layout.astro";

const allPosts = (await Astro.glob("../blog/**/*.{md,mdx}"))
  .filter((post) => import.meta.env.MODE == "development" || !post.frontmatter.draft)
  .sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());

const categories: Record<string, any> = { tools: [] };
allPosts.map((post: Record<string, any>) => {
  if (!categories[String(post.frontmatter.category)]) {
    categories[String(post.frontmatter.category)] = [];
  }
  categories[String(post.frontmatter.category)].push({
    title: post.frontmatter.title,
    url: post.url,
  });
});
---

<Layout title="All Categories">
  <h2 class="my-6 font-medium text-3xl">All Categories</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    {
      Object.keys(categories)
        .sort()
        .map((category) => (
          <div>
            <div class="flex items-center mb-2">
              <i class="fa-regular fa-folder h-5 w-5" />
              <h3 class="ml-2 font-medium text-xl capitalize">{category}</h3>
            </div>
            {categories[category].map((post: any) => (
              <a href={post.url} class="ml-4 py-1 block hover:text-zinc-800 dark:hover:text-zinc-300">
                {post.title}
              </a>
            ))}
          </div>
        ))
    }
  </div>
</Layout>
