---
const today = new Date();
---

<div class="py-10 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
  <div class="flex justify-center space-x-6 md:order-2">
    <a href="https://github.com/nirgn975" class="text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 hover:dark:text-zinc-300">
      <span class="sr-only">GitHub</span>
      <i class="fa-brands fa-github h-6 w-6"></i>
    </a>

    <a href="https://twitter.com/nirgn975" class="text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 hover:dark:text-zinc-300">
      <span class="sr-only">Twitter</span>
      <i class="fa-brands fa-twitter h-6 w-6"></i>
    </a>

    <a href="https://linkedin.com/in/nirgn" class="text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 hover:dark:text-zinc-300">
      <span class="sr-only">LinkedIn</span>
      <i class="fa-brands fa-linkedin h-6 w-6"></i>
    </a>

    <a href="https://stackoverflow.com/users/2040160/nirgn" class="text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 hover:dark:text-zinc-300">
      <span class="sr-only">StackOverflow</span>
      <i class="fa-brands fa-stack-overflow h-6 w-6"></i>
    </a>

    <a href="http://www.meetup.com/members/52111382" class="text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 hover:dark:text-zinc-300">
      <span class="sr-only">Meetup</span>
      <i class="fa-brands fa-meetup h-6 w-6"></i>
    </a>
  </div>
  <div class="mt-8 md:order-1 md:mt-0">
    <p class="text-center text-base text-zinc-600 dark:text-zinc-400">
      &copy; 2012 - {today.getFullYear()} Nir Galon | <a
        href="https://creativecommons.org/licenses/by-nc/4.0/"
        target="_blank"
        class="hover:text-zinc-800 dark:hover:text-zinc-300">CC BY-NC 4.0</a
      >
    </p>
  </div>
</div>
