<div class="flex flex-col md:flex-row justify-between md:items-center p-4">
  <div class="flex justify-between items-center">
    <a href="/">
      <span class="sr-only">Nir Galon</span>
      <i class="h-10 w-10 fa-solid fa-user-astronaut"></i>
    </a>
    <span id="openMenu" onclick="toggleMenu()" class="md:hidden"><i class="fa-regular fa-bars w-8 h-8"></i></span>
    <span id="closeMenu" onclick="toggleMenu()" class="hidden md:hidden"><i class="fa-regular fa-xmark w-8 h-8"></i></span>
  </div>
  <div
    id="menu"
    class="text-center space-y-4 py-2 md:py-0 mt-2 md:mt-2 md:space-y-0 md:ml-10 md:space-x-8 hidden md:block border-t-2 md:border-t-0 border-zinc-800"
  >
    <div class="md:hidden">
      <div class="relative mt-1 rounded-md shadow-sm">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <i class="fa-regular fa-magnifying-glass"></i>
        </div>
        <input
          type="text"
          name="search"
          id="search"
          class="w-full rounded-md pl-10 py-2 px-4 bg-zinc-200 dark:bg-zinc-700 border-transparent focus:border-zinc-50 focus:dark:border-zinc-800 focus:ring-zinc-50 focus:dark:ring-zinc-800"
          placeholder="Search titles or content"
        />
      </div>
    </div>

    <a href="/blog" class="text-base font-medium text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 hover:dark:text-zinc-300 block md:inline-block">Blog</a>

    <a href="/categories" class="text-base font-medium text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 hover:dark:text-zinc-300 block md:inline-block"
      >Categories</a
    >

    <a href="/about" class="text-base font-medium text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 hover:dark:text-zinc-300 block md:inline-block">About</a>

    <a href="/contact" class="text-base font-medium text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 hover:dark:text-zinc-300 block md:inline-block"
      >Contact</a
    >

    <button id="theme-button" onclick="handleClick()" aria-label="change theme color" class="block md:inline-block mx-auto"></button>
  </div>

  <script is:inline>
    if (localStorage.getItem("theme") == "dark") {
      document.getElementById("theme-button").innerHTML = "<i class='fa-solid fa-sun'></<i>";
    } else {
      document.getElementById("theme-button").innerHTML = "<i class='fa-solid fa-moon'></<i>";
    }

    const handleClick = () => {
      if (localStorage.getItem("theme") == "dark") {
        document.documentElement.classList.remove("dark");
        localStorage.theme = "light";
        document.getElementById("theme-button").innerHTML = "<i class='fa-solid fa-moon'></<i>";
      } else {
        document.documentElement.classList.add("dark");
        localStorage.theme = "dark";
        document.getElementById("theme-button").innerHTML = "<i class='fa-solid fa-sun'></<i>";
      }
    };

    const toggleMenu = () => {
      const menuElement = document.getElementById("menu");
      const openMenu = document.getElementById("openMenu");
      const closeMenu = document.getElementById("closeMenu");
      if (menuElement.classList.contains("hidden")) {
        menuElement.classList.remove("hidden");

        openMenu.classList.add("hidden");
        closeMenu.classList.remove("hidden");
      } else {
        menuElement.classList.add("hidden");

        openMenu.classList.remove("hidden");
        closeMenu.classList.add("hidden");
      }
    };
  </script>
</div>
