<!DOCTYPE html>
<html lang="he">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="ui grid">
      <div class="two wide column"></div>

      {% include nav.html %}

      <div class="ten wide column">
        {{ content }}
      </div>

      <div class="two wide column"></div>
    </div>

    <!-- {% include footer.html %} -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="/assets/app.min.js"></script>
  </body>

</html>
